<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <%= link_to "Icon", root_path, class: "navbar-brand core-sprite hide-text"%>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <form class="form-inline my-2 my-lg-0 ml-md-auto">
        <input class="form-control mr-sm-2 text-center" type="search" placeholder="Search" aria-label="Search">
      </form>
      <ul class="navbar-nav ml-md-auto">
        <li class="nav-item">
          <a class="nav-link explore hide-text" href="https://www.instagram.com/explore"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link notification hide-text " href="https://www.instagram.com/nani_allampati/followers"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link profile hide-text" href="https://www.instagram.com/nani_allampati"></a>
        </li>
      </ul>
    </div>
  </div>
</nav>